
#root {
  padding-left: 20%;
  padding-right: 20%;
}

@media (max-width: 425px) {
  #root {
    padding-left: 10%;
    padding-right: 10%;
  }
}

body {
  background: linear-gradient(
    90deg,
    rgb(5, 16, 90) 0%,
    rgb(0, 17, 255) 100%
  );
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: auto;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

