*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  padding-left: 20%;
  padding-right: 20%;
}

@media (max-width: 425px) {
  #root {
    padding-left: 10%;
    padding-right: 10%;
  }
}

body {
  background: linear-gradient(
    90deg,
    rgb(5, 16, 90) 0%,
    rgb(0, 17, 255) 100%
  );
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

.title {
  color: white;
  font-size: clamp(25px, 5vw, 45px);  font-weight: 900;
  padding-top: 2%;
  padding-bottom: 2%;
}

.do-it {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px auto;
  color: #fff;
  padding: 16px;
  border: 2px solid;
  border-radius: 5px;
  border-color: #fff;
  width: 85%;
}

@media (max-width: 425px) {
  .do-it {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .doitText {
    padding-bottom: 3%;
    text-align: center !important;
  }

  .do-it div {
    gap: 5%;
  }
}

.do-it div {
  display: flex;
  align-items: center;
}

.doitNumber {
  color: white;
  border: 1px solid #999;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}

.do-it .doitText {
  text-align: start;
  word-break: normal;
  flex: 1;
}

.icons {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icons span {
  margin: 0px 10px 0 10px;
  cursor: pointer;
  color: white;
}

.icons span:hover {
  color: #999;
}