*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  padding-left: 20%;
  padding-right: 20%;
}

@media (max-width: 425px) {
  #root {
    padding-left: 10%;
    padding-right: 10%;
  }

  .title {
    padding-bottom: 5% !important;
    padding-top: 5% !important;
  }
}

body {
  background: linear-gradient(
    90deg,
    rgb(5, 16, 90) 0%,
    rgb(0, 17, 255) 100%
  );
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

.title {
  color: white;
  font-size: clamp(25px, 5vw, 45px);  font-weight: 900;
  padding-top: 2%;
  padding-bottom: 2%;
}

.do-it {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px auto;
  color: #fff;
  padding: 16px;
  border: 2px solid;
  border-radius: 5px;
  border-color: #fff;
  width: 85%;
}

@media (max-width: 425px) {
  .do-it {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .doitText {
    padding-bottom: 3%;
    text-align: center !important;
  }

  .do-it div {
    gap: 5%;
  }
}

.do-it div {
  display: flex;
  align-items: center;
}

.doitNumber {
  color: white;
  border: 1px solid #999;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}

.do-it .doitText {
  text-align: start;
  word-break: normal;
  flex: 1;
}

.icons {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icons span {
  margin: 0px 10px 0 10px;
  cursor: pointer;
  color: white;
}

.icons span:hover {
  color: #999;
}

.doit-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid rgb(1, 1, 112);
  border-right: none;
  outline: none;
  width: 45%;
  background: transparent;
  color: white;
  margin-bottom: 3%;
}

.doit-input::placeholder {
  color: #999;
  font-size: large;
  font-weight: 500;

}

.doit-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(5, 16, 90) 0%,
    rgb(0, 17, 255) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.do-it .finished .doitText {
  text-decoration: line-through;
  color: rgb(248, 2, 2);
  opacity: 0.3;
}

.doit-edit-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px;
  border: 2px solid rgb(1, 1, 112);
  outline: none;
  width: 45%;
  background: transparent;
  color: white;
  margin-bottom: 3%;
}

.doit-edit-button {
  padding: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    20deg,
    rgb(5, 16, 90) 0%,
    rgb(0, 17, 255) 100%
  );
  color: #fff;
  text-transform: capitalize;
  margin-left: .5%;
}

.doit-edit-input::placeholder {
  color: #999;
  font-size: large;
  font-weight: 500;

}

.doit-cancel-button {
  padding: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    20deg,
    rgb(5, 16, 90) 0%,
    rgb(0, 17, 255) 100%
  );
  color: #fff;
  text-transform: capitalize;
  margin-left: .5%;
}

